@model CoffeeShopManagementSystem.Models.UserModel;

<div>
    <h5 class="card-title">Profile Details</h5>

    <div class="row">
        <div class="col-lg-3 col-md-4 label ">User Name</div>
        <div class="col-lg-9 col-md-8">@ViewBag.userData.UserName</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Email</div>
        <div class="col-lg-9 col-md-8">Lueilwitz, Wisoky and Leuschke</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Password</div>
        <div class="col-lg-9 col-md-8">Web Designer</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Mobile No.</div>
        <div class="col-lg-9 col-md-8">USA</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Address</div>
        <div class="col-lg-9 col-md-8">A108 Adam Street, New York, NY 535022</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">IsActive</div>
        <div class="col-lg-9 col-md-8"></div>
    </div>
</div>